@import './fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	

   
}
body, html {

   height: auto;
}
* {
  box-sizing: border-box; /* Ensures padding and borders do not increase element's width */
  margin: 0;
  padding: 0;
}

body {
  /* Prevent horizontal scrolling */
}



